@use 'variables' as v;

@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
} 

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin grid($number, $separacion) {
    display: grid;
    grid-template-columns: repeat($number, 1fr);
    gap: $separacion;
}

@mixin btn($backgroundColor, $fontColor) {
    font-size: 1.4rem;
    text-transform: capitalize;
    background-color: $backgroundColor;
    color: $fontColor;
    border: 2px solid v.$primario;
    font-weight: 700;
    margin-top: 2rem;
    padding: 1rem v.$separacion;
    transition: 0.3s all ease;
    &:hover {
        color: darken($color, 10);
        cursor: pointer;
    }
}