@use '../base/variables' as v;
@use '../base/mixins' as m;

.avif .header {
    background-image: linear-gradient(to right, rgba(57, 70, 89, 0.7), rgba(57, 70, 89, 0.7)), url(../img/header.avif);
}

.webp.nofavif .header {
    background-image: linear-gradient(to right, rgba(57, 70, 89, 0.7), rgba(57, 70, 89, 0.7)), url(../img/header.webp);
}

/* .notavif.notwebp*/ .header {
    background-image: linear-gradient(to right, rgba(57, 70, 89, 0.7), rgba(57, 70, 89, 0.7)), url(../img/header.jpg);
}

.header {
    padding: v.$separacion 0;
    background-size: cover;
    background-position: center top; 
    background-repeat: no-repeat;

    &__logo {
        flex-basis: 50%;
        img {
            width: 20rem;
            margin: 0 auto;
            @include m.tablet { 
                margin-left: 0;
            }
        }
    }

}
