@use '../base/variables' as v;
@use '../base/mixins' as m;

.hero {
    padding: 15rem 0;
    &__info {

        @include m.tablet { 
            max-width: 50% ;
        }

        @include m.desktop { 
            max-width: 40%;
        }
    }

    &__title {
        font-size: clamp(4.5rem, calc(6.70vw - 6.428px), 6rem);
        color: v.$blanco;
        margin: 0 0 2rem;
        text-transform: capitalize;
    }

    .card__btn {
        @include m.btn(v.$primario, v.$secundario);
        width: 100%;
        margin-top: 0;
        @include m.tablet { 
            width: auto;
        }
    }
}
