@use '../base/variables' as v;
@use '../base/mixins' as m;


.footer {
    background-color: v.$secundario;
    
    &__contenedor {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 0;

        @include m.tablet { 
            flex-direction: row;
            align-items: center;
            padding: 4rem 0;
        }

        img {
            width: 20rem;
        }

        .menus {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;

            @include m.tablet { 
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
            }
        }
    }

}

.menus {
    margin-top: 5rem;
    @include m.tablet { 
        margin: 0;
    }
    [class*="__title"] {
        color: v.$primario;
        text-transform: uppercase;
        font-size: 2.8rem;
        margin: 0  0 2rem;
        @include m.tablet { 
            margin-bottom: 3rem;
        }
    }

    [class*="-card"] {
        margin: 0  0 2rem;
        @include m.tablet { 
            margin: 0;
        }
    }

    a {
        display: block;
        color: v.$blanco;
        font-size: 1.6rem;
    }

    ul {
        margin: 0;
    }
    
    li {
        margin-bottom: 1rem;

        &:last-of-type {
            margin: 0;
        }
    }
}

.derechos {
    text-align: center;
     border-top: 2px solid v.$primario;
     padding: 1rem;
     p {
         margin: 0;
         color: v.$blanco;
         font-size: 1.2rem;
         text-transform: uppercase;
     }
}