@use '../base/variables' as v;
@use '../base/mixins' as m;

.testimoniales {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.tablet { 
        @include m.grid(2, 3rem);
        grid-template-columns: 1fr 1.5fr;
        @include m.tablet { 
            align-items: center;
        }
        @include m.desktop { 
            align-items: start;
        }
        row-gap: 1.5rem;
    }

    &__title--dashedVerde {
        order: 2;
        margin: 4rem 0 1.5rem;
        align-self: flex-start;
        @include m.tablet { 
            grid-column: 2/3;
            grid-row: 1/2;
            margin: v.$separacion 0 0;
            width: fit-content;
        }
    }

    &__img {
        order: 1;
        @include m.tablet { 
            grid-row: 2/3;
            grid-column: 1/2;
        }
    }

    &-card {
        order: 3;

        @include m.tablet { 
            grid-row: 2/3;
            grid-column: 2/3;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .card {
            padding: 0 2rem 0 8rem;
            border: 0.5rem solid v.$secundario;
            border-radius: 1rem;
            margin-bottom: 4rem;
            background-color: v.$primario;
            position: relative;
            
            &:hover {
                transform: none;
            }

            &::before {
                display: block;
                content: url('../img/comilla.svg');
                width: 5rem;
                position: absolute;
                top: 2.5rem;
                left: 2rem;
            }

            @include m.tablet { 
                width: 70%;
                // p {
                //     line-height: 1.15;
                //     font-size: 1.8rem;
                // }

                &:last-of-type {
                    align-self: flex-end;
                }

                &:nth-of-type(2) {
                    margin-left: 6.5rem;
                }


                &:first-of-type {
                    align-self: flex-start;
                    margin-left: 6rem;
                }
            }

            @include m.desktop {
                // p {
                //     line-height: 2rem;
                //     font-size: 2rem;
                // }        
            }
        }
    }
}